<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1 class="text-center">Comunidad EasyJob</h1><br>
      <p class="text-center">Bienvenido a la comunidad Easyjob! Los usuarios deben llenar un perfil para ser visibles por la comunidad.</p><br>
      <ul class="list-unstyled">
        <% @users.each do |user| %>
          <!-- Checks if the user has a profile -->
          <% if user.profile %>
            <li>
              
              <div class="well row <%= cycle('altern-bg','') %>">
                <div class="col-sm-4 text-center">
                  <!-- If the avatar has been established -->
                  <% if user.profile.avatar %>
                    <%= link_to user do %>
                      <%= image_tag user.profile.avatar.url, class: 'user-index-avatar' %>
                    <% end %>
                  <% end %>
                </div>
                
                <div>
                  <%= link_to user do %>
                  <h2><%= user.profile.first_name %> <%= user.profile.last_name %></h2>
                  <% end %>
                  <p>
                    <%= user.profile.job_title %>
                    <% if user.plan_id == 2 %>
                      <span class="label label-danger">PRO</span>
                    <% end %>
                  </p>
                </div>
                
              </div>
              
            </li>
          <% end %>
        <% end %>
      </ul>
    
    </div>
  </div>
</div>
