<div class="container">
  <div class="row">
    
    <div class="col-md-3 text-center">
      <%= image_tag @user.profile.avatar.url, class: 'avatar-show-img' %>
    </div>
    
    <div class="col-md-6">
      <h1><%= @user.profile.first_name %> <%= @user.profile.last_name %></h1>
      <h3><span class="job-icon"><%= job_title_icon %></span> <%= @user.profile.job_title %><br></h3>
      
      <!--------------------------------------------- Perfil para estudiantes ------------------------------------------->
      <% if @user.plan_id == 1 %>
      
          <div class="well profile-block profile-desc">
          <h3>Información Personal</h3>
          
          <!-- Mostrar información de contacto solo a empresarios -->
          <% if current_user.plan_id == 2 %>
            <%= "Teléfono: " + @user.profile.phone_number %>
            <br />
            <%= "Correo: " + @user.profile.contact_email %>
            <br />
          <% end %>
          
          <%= "Ubicación: " + @user.profile.ubicacion %>
        </div>
        
        <div class="well profile-block profile-desc">
          <h3>Información Académica</h3>
          <%= "Facultad: " + @user.profile.facultad %>
          <br />
          <%= "Carrera: " + @user.profile.carrera %>
          <br />
          <%= "Semestre: " + @user.profile.semestre %>
        </div>
        
        <div class="well profile-block profile-desc">
          <h3>Conocimientos</h3>
          <%= "Habilidades: " + @user.profile.habilidades %>
          <br />
          <%= "Idiomas: " + @user.profile.idiomas %>
        </div>

      <!--------------------------------------------- Perfil para emprendedores ------------------------------------------->  
      <% else %>
        <div class="well profile-block profile-desc">
          <h3>Información Personal</h3>
          <%= "Teléfono: " + @user.profile.phone_number %>
          <br />
          <%= "Correo: " + @user.profile.contact_email %>
          <br />
          <%= "Ubicación: " + @user.profile.ubicacion %>
        </div>
        
        <div class="well profile-block profile-desc">
          <h3>Información Empresarial</h3>
          <%= "Empresa: " + @user.profile.facultad %>
          <br />
          <%= "Cargo: " + @user.profile.carrera %>
          <br />
          <%= "Sector: " + @user.profile.semestre %>
        </div>
        
        <div class="well profile-block profile-desc">
          <h3>Información Profesional</h3>
          <%= "Habilidades Requeridas: " + @user.profile.habilidades %>
          <br />
          <%= "Idiomas Requeridos: " + @user.profile.idiomas %>
        </div>
      <% end %>
    </div>
  </div>
</div>